$beam-stroke: #1A237E;
$beam-fill: #26A69A;
$beam-hover: #B2DFDB;
$distrForce-stroke: #1B5E20;
$distrForce-fill: #66BB6A;
$distrForce-hover: #C8E6C9;
$distrMoment-stroke: #E65100;
$distrMoment-fill: #FFD180;
$distrMoment-hover: #FB8C00;
$force-stroke: #1B5E20;
$force-hover: #66BB6A;
$moment-stroke: #E65100;
$moment-hover: #FB8C00;
$support-fill: #263238;
$support-fill-hover: #90A4AE;

.inputTable {
    tr td:last-child {
        width: 1%;
        white-space: nowrap;
    }
}

#qCanvas{
    stroke: $force-stroke;
}

#mCanvas{
    stroke: $moment-stroke;
}

#vCanvas{
    stroke: $beam-stroke;
}

#qCanvas, #mCanvas, #vCanvas{
    fill: none;
    stroke-width: 2px;

    .axis {
        marker-end: url("#arrow-axis");
    }
    line{
        stroke: $support-fill;
    }
    .yAxisTitle {
        text-anchor: start;
        alignment-baseline: middle;
        stroke: none;
        fill: $support-fill;
    }
    .xAxisTitle {
        text-anchor: middle;
        alignment-baseline: baseline;
        stroke: none;
        fill: $support-fill;
    }
    .yAxisText {
        text-anchor: end;
        alignment-baseline: middle;
        stroke: none;
        fill: $support-fill;
    }
    .xAxisText {
        text-anchor: middle;
        alignment-baseline: hanging;
        stroke: none;
        fill: $support-fill;
    }
}

#freeBodyCanvas>*>*>* {
    cursor: default !important;
}

#canvas,
#freeBodyCanvas {
    text {
        text-anchor: middle;
        stroke: none;
    }

    .beam {
        cursor: pointer;
        stroke: $beam-stroke;
        fill: $beam-fill;
        fill-opacity: 0.7;

        &:hover {
            stroke: $beam-hover;
            fill: $beam-hover;
        }

        polygon {
            stroke: none;
        }

        path {
            stroke-width: 2px;
        }
    }

    .distrForce {
        cursor: pointer;
        stroke: $distrForce-stroke;
        fill: $distrForce-fill;
        fill-opacity: 0.2;

        &:hover {
            stroke: $distrForce-hover;
            fill: $distrForce-hover;
            stroke-opacity: 0.7;

            polyline {
                marker-start: url("#arrow-distrForce-hover");
                marker-end: url("#arrow-distrForce-hover");
            }

            text {
                fill: $distrForce-hover;
                fill-opacity: 0.7;
            }
        }

        text {
            fill: $distrForce-stroke;
            fill-opacity: 1;
        }

        polyline {
            stroke-width: 2px;
            marker-start: url("#arrow-distrForce");
            marker-end: url("#arrow-distrForce");
        }
    }

    .distrMoment {
        cursor: pointer;
        stroke: $distrMoment-stroke;
        fill: $distrMoment-fill;
        fill-opacity: 0.2;

        &:hover {
            stroke: $distrMoment-hover;
            fill: $distrMoment-hover;
            stroke-opacity: 0.7;

            polyline {
                marker-start: url("#arrow-distrMoment-hover");
                marker-end: url("#arrow-distrMoment-hover");
            }

            text {
                fill: $distrMoment-hover;
                fill-opacity: 0.7;
            }
        }

        text {
            fill: $distrMoment-stroke;
            fill-opacity: 1;
        }

        polyline {
            stroke-width: 2px;
            marker-start: url("#arrow-distrMoment");
            marker-end: url("#arrow-distrMoment");
        }
    }

    .force {
        cursor: pointer;
        stroke: $force-stroke;
        fill: $force-stroke;
        fill-opacity: 1;

        &:hover {
            stroke: $force-hover;
            stroke-opacity: 0.7;
            fill: $force-hover;
            fill-opacity: 0.7;

            polyline {
                marker-start: url("#arrow-force-hover");
            }
        }

        polyline {
            stroke-width: 2px;
            marker-start: url("#arrow-force");
        }
    }

    .moment {
        cursor: pointer;
        stroke: $moment-stroke;
        fill: $moment-stroke;

        &:hover {
            stroke: $moment-hover;
            stroke-opacity: 0.7;
            fill: $moment-hover;
            fill-opacity: 0.7;

            path {
                marker-start: url("#arrow-moment-hover");
            }
        }

        path {
            fill: none;
            stroke-width: 2px;
            marker-start: url("#arrow-moment");
        }
    }

    .support {
        cursor: pointer;
        fill: $support-fill;
        stroke: $support-fill;

        &:hover {
            fill: $support-fill-hover;
            stroke: $support-fill-hover;
        }
    }

    .fix {
        cursor: pointer;
        fill: $support-fill;
        stroke: $support-fill;

        &:hover {
            fill: $support-fill-hover;
            stroke: $support-fill-hover;
        }
    }

    .slide {
        cursor: pointer;
        fill: $support-fill;
        stroke: $support-fill;

        &:hover {
            fill: $support-fill-hover;
            stroke: $support-fill-hover;
        }
    }

    .reaction {
        cursor: pointer;
        stroke: $support-fill;
        fill: $support-fill;

        &:hover {
            stroke: $support-fill-hover;
            stroke-opacity: 0.7;
            fill: $support-fill-hover;
            fill-opacity: 0.7;

            polyline {
                marker-start: url("#arrow-reactionF-hover");
            }

            path {
                marker-start: url("#arrow-reactionM-hover");
            }
        }

        path {
            fill: none;
            stroke-width: 2px;
            marker-start: url("#arrow-reactionM");
        }

        polyline {
            stroke-width: 2px;
            marker-start: url("#arrow-reactionF");
        }
    }
}

#svg-toolTip {
    background: rgba(97, 97, 97, 0.9);
    color: #FFFFFF;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    flex-flow: column;
    padding: 5px 16px;
    position: fixed;
    text-transform: initial;
    width: auto;
    opacity: 1;
    pointer-events: none;

    span {
        flex: 1 1 auto;
    }
}

/* makers */
#arrow-distrForce {
    fill: $distrForce-stroke;
}

#arrow-distrForce-hover {
    fill: $distrForce-hover;
}

#arrow-distrMoment {
    fill: $distrMoment-stroke;
}

#arrow-distrMoment-hover {
    fill: $distrMoment-hover;
}

#arrow-force {
    fill: $force-stroke;
}

#arrow-force-hover {
    fill: $force-hover;
}

#arrow-moment {
    fill: $moment-stroke;
}

#arrow-moment-hover {
    fill: $moment-hover;
}

#arrow-reactionF,
#arrow-reactionM,
#arrow-axis {
    fill: $support-fill;
}

#arrow-reactionF-hover,
#arrow-reactionM-hover {
    fill: $support-fill-hover;
}